services:
  web:
    image: ghcr.io/janfpv/lofar-rfi-detection:latest
    ports:
      - "5000:5000"
    volumes:
      - ./webapp/static/images:/app/webapp/static/images
      - type: bind
        source: /mnt/LOFAR0/erasmus_2025/tmp
        target: /data
        bind:
          propagation: rprivate
    environment:
      - FLASK_ENV=production
