version: '3.8'

services:
  lofar:
    image: ghcr.io/janfpv/lofar-rfi-detection:latest
    volumes:
      - /mnt/LOFAR0/wait:/data    # Incoming data directory
    command: /data                  # Argument to the script
