ipykernel==6.29.5
numpy==2.2.5
numexpr==2.10.2
numba==0.61.2
astropy==7.0.2
lofargeotiff==0.1
lofarantpos==0.7.1
matplotlib==3.10.3
folium==0.19.5
mercantile==1.2.1
owslib==0.33.0
packaging==25.0
Pillow==11.2.1
opcua==0.98.13
h5py==3.13.0
tqdm==4.67.1
pandas==2.2.3
opencv-python==4.11.0.86
six==1.17.0
flask==3.1.1